.purple_container_edit {
    background-color: #e8ccfc;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 48%;
    max-width: 48%;
    margin: auto;
}
.input_title {
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    color:navy;
    padding-bottom: 3px;
}
#bio {
    width:100%;
    height:200px;
    border:none;
    margin: auto;
    resize: none;
}
.form_style {
    border: none;
    width:100%;
    height:25px;
}
.white_container {
    background-color: white;
    padding: 0px;
    font-size: 16px;
    width:100%;
    text-decoration: none;
    color: black;
}
.centerAlign {
    margin:auto;
    width:83%;
}
.video_container {
    max-width: 420px;
    max-height: 420px;
}


.crop_btn {
    width: 50px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    font-family: Helvetica, sans-serif;
    color:navy;
}
.hide_this_input {
    display: none;
}
.image_container {
    width: 420px;
    height: 420px;
    max-width: 420px;
    max-height: 420px;
}
#image_container_div {
    padding-top: 30px;
    max-width: 420px;
    max-height: 420px;
}
#imgStuff {
    padding-top: 30px;
}
#cropped_image {
    padding-top: 13px;
    padding-bottom: 25px;
}
.add_attribute {
    width: 130px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    font-family: Helvetica, sans-serif;
    color:navy;
}
.add_attribute_form_style {
    border: none;
    width:100%;
    height:25px;
}
.add_attribute_td {
    border: none;
    width:65%;
    padding-right: 5px;
}

.choose_file_container {
    width: 100px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    font-family: Helvetica, sans-serif;
    color:navy;
}

.pad_bottom {
    padding-bottom: 40px;
}
.buttonEditProf {
    padding:20px;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    color:navy;
}
.deleteAccountBtn {
    padding:5px;
    font-size: 13px;
    font-family: Helvetica, sans-serif;
    color:navy;

    background-color: #ededed;
    text-decoration: none;
    border-collapse: collapse;
    border:none;
    cursor: pointer;
}
.deleteAccountBtn:hover {
    color: white;
    background-color:navy;
}

/*
#firstName, #lastName {
    width: 150px;
    height: 70px;
    line-height: 70px;
    font-size: 30px;
    font-family: Helvetica, sans-serif;
    color:navy;
}
#passwordBtn {
    width: 130px;
    height: 70px;
    line-height: 70px;
    font-size: 30px;
    font-family: Helvetica, sans-serif;
    color:navy;
}
#cityBtn {
    width: 110px;
    height: 70px;
    line-height: 70px;
    font-size: 30px;
    font-family: Helvetica, sans-serif;
    color:navy;
}
#occupationBtn {
    width: 190px;
    height: 70px;
    line-height: 70px;
    font-size: 30px;
    font-family: Helvetica, sans-serif;
    color:navy;
}*/