body, html{
    padding: 0%;
    margin: 0%;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
}

.anchor {
    display: block;
    position: relative;
    top: -225px;
    visibility: hidden;
}

.header{
    padding: 15px 2% 15px 2%;
    border-bottom: 1px solid gray;
}

.header .logo-box{
    display: flex;
    background: transparent;
    justify-content: center;
    align-items: center;
}

.header .nav-box{
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-collapse{
    flex-grow: 0!important;
}

.nav-item{
    border-right: 1px solid rgb(197, 197, 197);
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item:last-child{
    border-right: none;
}

.nav-box .nav-button{
    border: none;
    outline: none;
    width: 7vw;
    font-size: 0.8vw;
    color: rgb(37, 37, 37);
    background: transparent;
    transition-duration: 0.4s;
    cursor: pointer;
}

.nav-button:hover{
    color: rgb(152, 84, 201);
}

.header .register-box{
    display: flex;
    justify-content: right;
}

.register-box .register{
    border: none; 
    outline: none;
    color: white;
    height: 6vw;
    min-width: 11vw;
    font-size: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(33, 48, 74);
    padding: 5%;
    transition-duration: 0.4s;
}

.register-box .register a{
    outline: none;
    text-decoration: none;
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register:hover{
    background-color: rgb(152, 84, 201);
}

.background{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.home{
    flex: 1;
    padding: 7%;
    background-image: url('/static/background.png');
    background-position: center;
    background-size: cover;
}

.home .header-text{
    font-size: 90px;
}

.home h1{
    font-weight: 900;
    font-size: 90px;
}

.home .description-text{
    width: 40%;
    padding-top: 2%;
}

.home h3{
    font-weight: 100;
    font-size: 20px;
    color: gray;
}

.launch-box{
    padding-top: 2%;
}

.launch-box .launch{
    border: none;
    outline: none;
    width: 15vw;
    background-color: rgb(33, 48, 74);
    color: white;
    padding: 2%;
    transition-duration: 0.4s;
    font-size: 15px;
}

.launch-box .launch a{
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.launch:hover{
    background-color: rgb(152, 84, 201);
}

@media (max-width: 992px){
    .navbar-collapse{
        padding-top: 1.2vw;
    }

    .nav-item{
        border-right: none;
    }

    .nav-box{
        order: 4;
        justify-content: center !important;
    }

    .register-box{
        order: 3;
    }

    .nav-box .nav-button{
        font-size: 2.2vw;
        width: auto;
    }

    .register-box .register{
        font-size: 1.1vw;
    }

    .home h3{
        font-size: 1.3vw;
    }

    .home .header-text{
        font-size: 5vw;
    }

    .launch-box .launch{
        font-size: 1vw;
    }
}

.space{
    padding: 100px;
}

.product{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 7%;
    justify-content: center;
    align-items: center;
}

.product .title{
    font-size: 30px;
    padding-bottom: 4%;
}

.product .split{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.split .card{
    width: 25%;
    padding: 1%;
    margin-top: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon{
    width: 11vw;
    height: 11vw;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.icon1{
    background-image: url("/static/customizable.png");
}

.icon2{
    background-image: url("/static/mentorship.png");
}

.icon3{
    background-image: url("/static/focus.png");
}

label{
    font-size: 17px;
}

.label1, .label2{
    text-align: center;
}

.label1{
    margin-top: 8%;
    font-weight: 500;
    font-size: 15px;
}

.label2{
    margin-top: 8%;
    font-weight: 100;
    font-size: 17px;
    color: gray;
}

@media (max-width: 992px){
    .product .title{
        font-size: 2.2vw;
    }

    label{
        font-size: 1.2vw;
    }

    .label1{
        font-size: 1.3vw;
    }

    .label2{
        font-size: 1.3vw;
    }
}

.steps{
    background-color: rgb(22, 22, 63);
    padding: 7%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step-image{
    width: 75%;
    height: 75%;
}

.about{
    flex: 1;
    height: fit-content;
    display: flex;
    flex-direction: row;
}

.half{
    flex: 1;
    background-color: transparent;
}

.about .half{
    background-image: url('/static/background2.png');
    background-position: center;
    background-size: cover;
    flex: 1;
}

.half .something{
    background-color: white;
    padding: 20% 25% 20% 25%;
}

.head1{
    color: rgb(158, 63, 253);
    font-size: 17px;
    letter-spacing: 0.1em;
    font-weight: 600;
}

.head2{
    color: black;
    font-weight: bold;
    font-size: 30px;
    margin-top: 5%;
    line-height: 40px;
}

.text1{
    color: gray;
    font-weight: lighter;
    font-size: 17px;
    margin-top: 8%;
    line-height: 30px;
}

@media (max-width: 992px){
    .head1{
        font-size: 1.2vw;
        letter-spacing: 0.1em;
    }

    .head2{
        font-size: 2.2vw;
        line-height: 3.3vw;
    }
    
    .text1{
        font-size: 1.2vw;
        line-height: 2.4vw;
    }
}

.contact{
    flex: 1;
    height: fit-content;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.label{
    color: gray;
    border: none;
    font-size: 5px;
}

input{
    padding: 5px;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    font-size: 1.2vw;
    color: gray;
    font-family: 'Work Sans';
    height: 2.6vw;
    width: 100%;
}

input:focus{
    border-color: rgb(158, 63, 253);
}

#leave{
    height: 75px;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 5px;
    outline: none;
    font-size: 17px;
    color: gray;
    font-family: 'Work Sans';
}

#leave:focus{
    border-color: rgb(158, 63, 253);
}

.input-container{
    display: flex;
    flex-direction: column;
    text-align: start;
    flex: 1;
    padding: 2%;
    margin-bottom: 5%;
    box-sizing: border-box;
}

.firstlast{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.testimonials{
    background-color: rgb(158, 63, 253);
    padding: 7%;
    position: relative;
    z-index: 1;
}

.slide{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.testimonials .head1{
    color: white;
    margin-bottom: 3%;
    text-align: center;
}

.slide .head2{
    color: white;
    margin-top: 0%;
    margin-bottom: 3%;
    font-size: 2vw;
}

.sub1{
    color: white;
    font-weight: bold;
    font-size: 1.2vw;
}

.sub2{
    color: white;
    font-size: 1.2vw;
}

/* From W3Schools */

.dot {
    cursor: pointer;
    height: 7px;
    width: 7px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: white;
  }

  .move-transition {
    -webkit-animation-name: move-transition;
    -webkit-animation-duration: 1.5s;
    animation-name: move-transition;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes move-transition {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes  move-transition{
    from {opacity: .4}
    to {opacity: 1}
  }

  a {
      color: white;
      text-decoration: none;
  }