.list{
    padding: 0%;
    flex: none;
    display: flex;
    flex-direction: row;
}

/* Notebox styling */
.note-box{
    background-color: rgb(213, 207, 207);
    padding: 1%;
    width: 100%;
    font-weight: 500;
}

.meetings{
    flex-direction: column;
}

.meetings-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 3%;
}

.stretch{
    width: 100%;
    text-decoration: none;
    max-width: 400px;
}

#blockContainer {
    display: flex;
    justify-content: center;
}

#completedMeetings {
    padding-right:5px;
}

.navbar-bottom{
    top:  calc(5vw + 43px)!important;
    padding-top: 0% !important;
    padding-bottom: 0% !important;
}

/* The navbar styling for the progress page */
.progress-navigation{
    flex: 1;
    background-color: rgb(33, 48, 74);
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid white;
    z-index: 0;
}

.progress-navigation:last-child{
    border-right: 0;
}

.progress-navigation button{
    background-color: transparent;
    color: white;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    transition-duration: 0.3s;
    z-index: 0;
}

.progress-navigation button:hover{
    background-color: rgb(152, 84, 201);
}

/* Make sure that the default page is the mentors page when the user first navigates to the progress tab */
#upcoming{
    display: none;
}

#completed{
    display: none;
}

/* More styling for meeting notes */
#dropdownButtonUp, #dropdownButtonDown{
    cursor: pointer;
}

.meetingNotes{
    resize: none;
    width: 600px;
    height: 100px;
}

/* Meeting descriptions */
.meeting-description{
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;
    width: 100%;
}

#meetingDoneButton{
    width: 100%;
}

.finishMeetingButton{
    outline: none;
    border: none;
    padding: 10px 15px 10px 15px;
    background-color: rgb(158, 63, 253);
    color: white;
    transition-duration: 0.3s;
}

.finishMeetingButton:hover{
    background-color: rgb(33, 48, 74);
}

.noneText{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Responsiveness */
@media (max-width: 992px){
    .navbar-bottom{
        flex-direction: column;
    }

    .progress-navigation{
        width: 100%;
        border-right: 0px;
        border-bottom: 1px solid white;
    }

    .progress-navigation:last-child{
        border-bottom: 0;
    }
}

.meeting-head{
    margin-top: 2%;
    width: 100%;
    text-align: start;
    font-size: 25px;
    font-weight: 700;
}

.mentee-label{
    margin-top: 2%;
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}

.feedback-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 60%;
    max-width: 600px; /* Limiting maximum width for larger screens */
    padding: 20px;
    border-radius: 8px;
    border: 3px solid rgba(158, 63, 253, 0.5);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    z-index: 1000; /* Ensure the modal is above other content */
}

/* Style for the close button */
.feedback-modal-close {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: #999;
    font-size: 20px;
}

/* Hover effect for the close button */
.feedback-modal-close:hover {
    color: #333;
}

.form-relative{
    position: relative;
}

.text-input-box {
    margin-top:20px;
    margin-bottom:20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical; /* Allow vertical resizing of the textarea */
}

.feedbackNotes {
    width: 80%;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.feedback-background{
    width: 100%;
    min-height: 100vh;
    position:absolute;
    background-color: #00000050;
    z-index: 500;
}

/*
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 999; 
} */