

.half{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list{
    padding: 0%;
    flex: none;
    display: flex;
    flex-direction: row;
}

.meetings{
    flex-direction: column;
}

.meetings-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 3%;
}

.stretch{
    width: 100%;
    text-decoration: none;
    max-width: 400px;
}

#blockContainer {
    display: flex;
    justify-content: center;
}

#completedMeetings {
    padding-right:5px;
}

.navbar-bottom{
    top:  calc(5vw + 43px)!important;
    padding-top: 0% !important;
    padding-bottom: 0% !important;
}

.progress-navigation{
    flex: 1;
    background-color: rgb(33, 48, 74);
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid white;
}

.progress-navigation:last-child{
    border-right: 0;
}

.progress-navigation button{
    background-color: transparent;
    color: white;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    transition-duration: 0.3s;
}

.progress-navigation button:hover{
    background-color: rgb(152, 84, 201);
}

#upcoming{
    display: none;
}

#completed{
    display: none;
}

#dropdownButtonUp, #dropdownButtonDown{
    cursor: pointer;
}

@media (max-width: 992px){
    .navbar-bottom{
        flex-direction: column;
    }

    .progress-navigation{
        width: 100%;
        border-right: 0px;
        border-bottom: 1px solid white;
    }

    .progress-navigation:last-child{
        border-bottom: 0;
    }
}