

.half{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list{
    padding: 0%;
    flex: none;
    display: flex;
    flex-direction: row;
}

.meetings{
    flex-direction: column;
}

.meetings-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 3%;
}

.stretch{
    width: 100%;
    text-decoration: none;
    max-width: 400px;
}

#blockContainer {
    display: flex;
    justify-content: center;
}

#completedMeetings {
    padding-right:5px;
}

.navbar-bottom{
    top:  calc(5vw + 43px)!important;
    padding-top: 0% !important;
    padding-bottom: 0% !important;
}

.progress-navigation{
    flex: 1;
    background-color: gray;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#upcoming{
    display: none;
}

#completed{
    display: none;
}