body, html{
    height: 100%;
}

.container{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    align-items: stretch;
}

.decoration-container{
    background-image: url('../background2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-basis: 40%;
}

.registration-container{
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registration-container .content{
    padding: 0%;
    width: 50%;
}

.shading{
    height: 100%;
    width: 100%;
    background-color: rgba(158, 63, 253, 0.301);
}

.content{
    padding: 5% 10% 5% 10%;
}

.text{
    margin-top: 20%;
}

.text .head2{
    color: white;
}

.info-container{
    margin-top: 30px;
}

input{
    height: 30px;
    width: 100%;
}