.purple_container_register {
    background-color: #e8ccfc;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 32%;
    margin: auto;
}
.first_last_td {
    width:45%;
}
.first_last_table {
    width:100%;
    border-collapse: collapse;
    padding:0px;
}
.form_style {
    border: none;
    width:100%;
    height:25px;
}
.pad_td {
    width:95%;
}
.white_container {
    background-color: white;
    padding: 0px;
    font-size: 16px;
    width:100%;
    text-decoration: none;
    color: black;
}
.horizontal_spacing {
    padding-left: 15px;
    padding-right: 15px;
}
.input_title {
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    color:navy;
    padding-bottom: 3px;
}
.navy {
    color:navy;
}
.hide_this_input {
    display: none;
}
#image_container_div {
    width: 420px;
    height: 420px;
    padding-top: 30px;
    max-width: 420px;
    max-height: 420px;
}
#imgStuff {
    padding-top: 30px;
}
#cropped_image {
    padding-top: 13px;
    padding-bottom: 25px;
}
.add_attribute {
    width: 130px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    font-family: Helvetica, sans-serif;
    color:navy;
}
.add_attribute_form_style {
    border: none;
    width:100%;
    height:25px;
}
.add_attribute_td {
    border: none;
    width:65%;
    padding-right: 5px;
}

.choose_file_container {
    width: 100px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    font-family: Helvetica, sans-serif;
    color:navy;
}
.crop_btn {
    width: 50px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    font-family: Helvetica, sans-serif;
    color:navy;
}
.register_btn {
    width: 140px;
    height: 70px;
    line-height: 70px;
    font-size: 30px;
    font-family: Helvetica, sans-serif;
    color:navy;
}
.image_container {
    width: 420px;
    height: 420px;
    max-width: 420px;
    max-height: 420px;
}
.video_container {
    width: 420px;
    height: 420px;
    max-width: 420px;
    max-height: 420px;
}
.phrase_entry {
    width:100%;
    height:30px;
    border:none;
    margin: auto;
    resize: none;
}
.phrase_entry_bio {
    width:100%;
    height:200px;
    border:none;
    margin: auto;
    resize: none;
}
.errorTd {
    width:45%;
    height: 70px;
}