body, html{
    height: 100%;
    overflow: hidden;
}

*, ::after, ::before {
    box-sizing: border-box;
  }

.container{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    align-items: stretch;
}

.decoration-container{
    background-image: url('../background2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-basis: 40%;
}

.registration-container{
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 5%;
    align-items: center;
    overflow: scroll;
}

.registration-container .content{
    padding: 0%;
    width: 60%;
}

.shading{
    height: 100%;
    width: 100%;
    background-color: rgba(158, 63, 253, 0.301);
}

.decoration-container .content{
    padding: 5% 10% 5% 10%;
}

.text{
    margin-top: 20%;
}

.text .head2{
    color: white;
}

.info-container{
    margin-top: 30px;
    width: 100%;
}

input{
    height: 30px;
    min-width: 0;
}

.register-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.register-box .register{
    width: 150px;
    height: 50px;
    padding: 3%;
}

.flashes{
    font-size: 1.3vw;
}

#register{
    display: none;
}

.general1{
    display: block;
}

.personal1{
    display: none;
}

.personal2{
    display: none;
}

.uploading{
    display: none;
}

.matching{
    display: none;
}



/* Source: W3Schools */

.regtext {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    font-size: 15px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
  /* Hide the browser's default radio button */
  .regtext input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.regtext:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.regtext input:checked ~ .checkmark {
  background-color: rgb(158, 63, 253);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.regtext input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.regtext .checkmark:after {
 	top: 5px;
	left: 5px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
  

/* BRENNAN addition: style the sample profile picture */
.picture{
    width: 205px;
    height: 205px;
    max-width: 205px;
    max-height: 205px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picture img{
    max-width: 205px;
    max-height: 205px;
    border-radius: 102.5px;
    object-fit: cover;
}

#char_count{
    font-size: 1.2vw;
}

.hide_this_input{
    height: auto;
}

@media (max-width: 992px) {
    .register-box .register{
        width: 20vw;
        height: 8vw;
    }

    input{
        height: 2.2vw;
    }

    .regtext{
        padding-left: 2.5vw;
        height: 1.5vw;
        font-size: 1.2vw;
    }

    .decoration-container{
        display: none;
    }

    .registration-container{
        flex-basis: 100%;
    }

    .checkmark {

        height: 1.5vw;
        width: 1.5vw;
      }

    .regtext .checkmark:after {
        top: 0.4vw;
       left: 0.4vw;
       width: 0.7vw;
       height: 0.7vw;
       border-radius: 50%;
       background: white;
   }
}