.login-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3%;
    background-position: center;
    background-size: cover;
}

.launch-box .launch{
    width: 120px;
}

.detail-container{
    background-color: white;
    box-sizing: border-box;
    margin-top: 20px;
    width: 35%;
    padding: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    transition-duration: 0.75s;
    transition-timing-function: ease-in-out;
}

.head2{
    margin-top: 0%;
    margin-bottom: 30px;
    color: rgb(158, 63, 253);
}

.input-container{
    padding: 0%;
}

.input-container input{
    height: 2vw;
    width: auto;
}

.register-container{
    margin-top: 20px;
    font-size: 15px;
}

.register_link{
    color: rgb(158, 63, 253);
    text-decoration: underline;
}

.register_link:hover{
    cursor: pointer;
}

.launch-box{
    display: flex;
    flex-direction: row;
    justify-content: right;
}

@media (max-width: 992px){
    .launch-box .launch{
        width: 9vw;
    }

    .head2{
        margin-bottom: 2.2vw;
    }

    .input-container input{
        height: 2.2vw;
    }
    
    .register-container{
        font-size: 1.2vw;
    }

    .detail-container{
        width: 80%;
    }
}