.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.matchmaking-header {
  @apply text-4xl font-bold
}

.matchmaking-subheader {
  @apply text-2xl font-semibold
}

.matchmaking-text {
  @apply text-lg
}

.option-button {
  @apply ml-4 hover:text-purple-300 duration-300
}

.entry-label {
  @apply text-center text-gray-500 text-lg
}

.pfp-image {
  @apply w-8 h-8 rounded-full content-center object-contain mr-2
}

.admin-parent-container {
  @apply h-full w-full px-8 flex flex-col
}

.input-container {
  @apply flex flex-1 flex-col ml-6 first:ml-0 max-w-xs
}

.stats-input {
  @apply border
}

.submit-button {
  @apply mt-4 py-2 px-4 bg-primary hover:bg-secondary duration-200 text-white
}

.radio-button {
  @apply invisible
}

.stats-section {
  @apply w-[90%] mb-8
}

/* Source: W3Schools */

.regtext {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  font-size: 15px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.regtext .radio-button {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 4;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.regtext:hover .radio-button~.checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.regtext .radio-button:checked~.checkmark {
  background-color: rgb(158, 63, 253);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.regtext .radio-button:checked~.checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.regtext .checkmark:after {
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}