<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Administrator Page</title>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/downloadjs/1.4.8/download.min.js"></script>
    {{ JSGlue.include() }}

    <style>
        table, td, th{
            border: 1px solid black;
        }
        table{
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <h1>Creative admin page</h1>

    <div id="display"></div>
    
    <h2>User lookup</h2>
    <div>
        <label for="firstname">First name</label>
        <input type="text" name="firstname" id="firstname">
        <label for="lastname">Last name</label>
        <input type="text" name="lastname" id="lastname">
    </div>
    <div style="margin-top: 1%;">
        <label for="userid">User ID</label>
        <input type="text" name="userid" id="userid">
        <label for="email">Email</label>
        <input type="text" name="email" id="email">
    </div>
    <button style="margin-top: 1%;" onclick="lookup_user()">Look up</button>
    <button style="margin-top: 1%;" onclick="feed_for_user()">User feed</button>
    <button style="margin-top: 1%;" onclick="get_all_user_matches()">User feed (including already matched mentors)</button>
    <div id="user-display" style="margin-top: 1%;">test</div>

    <h2>Business related things</h2>
    <div>
        <label for="businessid">Business ID</label>
        <input type="text" name="businessid" id="businessid">
        <button onclick="business_query()">Look up business</button>
        <button onclick="user_matches()">Get matches</button>
        <button onclick="selects_info()">Selects info</button>
        <button onclick="users_in_business()">Users in business</button>
        <button onclick="get_excel_sheet()">Download business excel sheet</button>
    </div>
    <div id="business-display" style="margin-top: 1%;">test</div>


    <h2>Delete a match</h2>
    <div>
        <label for="mentorid">Mentor ID</label>
        <input type="text" name="mentorid" id="mentorid">
        <label for="menteeid">Mentee ID</label>
        <input type="text" name="menteeid" id="menteeid">
        <button onclick="unmatch_users()">Delete match</button>
    </div>
    <div id="match-display" style="margin-top: 1%;">test</div>

    <h2>Event related things</h2>
    <div>
        <div>
            <label for="eventAction">Event action</label>
            <input type="text" name="eventAction" id="eventAction">
        </div>
        <div>
            <label for="startDate">Start Date</label>
            <input type="date" name="startDate" id="startDate">
            <label for="startTime">Start Time</label>
            <input type="time" name="startTime" id="startTime" step="1">
        </div>
        <div>
            <label for="endDate">End Date</label>
            <input type="date" name="endDate" id="endDate">
            <label for="endTime">End Time</label>
            <input type="time" name="endTime" id="endTime" step="1">
        </div>
        
        <button onclick="get_events()">Get Events</button>
    </div>
    <div id="events-display" style="margin-top: 1%;">test</div>
    <table id="events-table">
        <tr>
            <th>
                ID
            </th>
            <th>
                Message
            </th>
            <th>
                Timestamp
            </th>
            <th>
                User ID
            </th>
        </tr>
    </table>

    <script type="text/javascript" src="{{ url_for('static', filename='js_files/admin.js')}}"></script>
    <script type="text/javascript">
        //test getting stuff
        $(document).ready(function(){
            all_businesses();
        });

    </script>

</body>
</html>