<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css_files/navigation_bar.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css_files/general_page.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css_files/create_user_table.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css_files/edit_profile.css')}}">

    <!-- comment out cropping
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/cropperjs/dist/cropper.min.css')}}"/>
    <script src="{{ url_for('static', filename='node_modules/cropperjs/dist/cropper.min.js')}}">
    </script>
    -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='leva_favicon.ico')}}">
    <title>Edit Profile | Leva</title>
</head>

<body>
    <!-- navbar -->
    <div class="navbar">
        <table class="span_width">
            <tr>
                <td>
                    <img class="navbar_image" src="{{ url_for('static', filename='Leva_icon.webp')}}">
                </td>
                <td>
                    {% if userID != None %}
                        <a class="bar_a navbar_log_in_out" href="{{ url_for('logout') }}">Log Out</a><br/>
                    {% else %}
                        <a class="bar_a navbar_log_in_out" href="{{ url_for('sign_in') }}">Log In</a><br/>
                    {% endif %}
                    
                </td>
            </tr>
        </table>

        <table class="a_bar_table">
            <tr>
                <td class="a_bar_td"><a class="bar_a" href="/">Home</a></td>
                <td class="a_bar_td"><a class="bar_a left_border" href="{{ url_for('feed') }}">My Feed</a></td>
                <td class="a_bar_td"><a class="bar_a left_border" href="{{ url_for('view', id=userID) }}">My Profile</a></td>
                <td class="a_bar_td"><a class="bar_a left_border" href="{{ url_for('my_connections') }}">My Connections</a></td>
            </tr>
        </table>
    </div>

    <br/>
    <br/>
    <br/>
    <div class="titleText centerDiv">
        Edit Profile
    </div>
    <br/><br/>
    
    <div class="purple_container_edit">
    <div class="regText">
        <div class="centerAlign">
            <form action="/edit-profile-picture" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <p>
                    <br/>
                    <div class="centerDiv">
                    <div class="input_title">
                        Current profile picture<br/>
                        {% if profile_picture is none %}
                            <img class="image_container centerDiv pad_top" src="{{url_for('static', filename='blank-profile-picture.png')}}" alt="profile_picture"><br/>
                            <br/>
                            Add
                        {% else %}
                            <img class="image_container centerDiv pad_top" src="{{profile_picture}}" alt="profile_picture"><br/><br/>
                            <br/>
                            Change
                        {% endif %}
                        picture
                    </div>
                    <input type="file" name="file" value="file" class="hide_this_input" id="inputFile" accept="image/x-png,image/png,image/jpeg">
                    <label for="inputFile" class="choose_file_container add_something_btn centerDiv">
                        Choose file
                    </label>
                    <div class="regText navy">(Max size = 5MB)</div>
                    <div class="centerDiv" id="image_container_div">
                    </div>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <ul class=flashes>
                            {% for category, message in messages %}
                                {% if category == 'imageError' %}
                                <span style="color: red;">[{{ message }}]</span>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                    <!-- comment out cropping 
                    <div class="regText navy centerDiv" id="imgStuff">
                        <p id="scrollAdvice">Scroll to resize image. Click the crop button to set the crop. (This is required.)</p>
                        <div class="centerDiv">
                            <button id="crop-btn" type="button" class="crop_btn add_something_btn centerDiv">Crop</button>
                        </div>
                        <br/><br/>
                        <input type="file" name="croppedImgFile" value="croppedImgFile" id="croppedImgFile" accept="image/x-png,image/png,image/jpeg">
                        <div id="cropPreview">Cropped image preview:</div>
                        <div class="image_container centerDiv" id="cropped_image">
                        </div>
                        <br/>Now click the edit profile picture button below to complete the change.
                    </div>
                    -->
                    <input class="add_something_btn buttonEditProf centerDiv" type="submit" value="Edit profile picture"/>
                    </div>
                </p>
            </form>
            <br/>

            {% if profile_picture is not none %}
                <form action="/delete-profile-picture" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <p>
                        <input class="add_something_btn buttonEditProf centerDiv" type="submit" value="Delete profile picture"/>
                    </p>
                </form>
                <br/><br/>
            {% endif %}
        
            <form action="/edit-video" method="POST" class="centerDiv" enctype="multipart/form-data">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <p>
                    <br/>
                    <input type="hidden" name="videoDuration" id="videoDuration" value="">
                    <div class="input_title">
                        Current introduction video<br/>
                    </div>
                    {% if intro_video is none %}
                        <br/>No introduction video<br/><br/>
                        <div class="input_title">Add video</div>
                    {% else %}
                        <video id="previousVideo" class="media_container" controls>
                            <source id="previousVideoSource" src="{{intro_video}}" class="media_container" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        <br/><br/>
                        <div class="input_title">Change video</div>
                    {% endif %}
                     
                    <label for="videoFile" class="choose_file_container add_something_btn centerDiv">
                        Choose file
                    </label>
                    <div class="regText navy">
                        (Max size = 40MB, max duration = 30 seconds)<br/>
                    </div>
                    <input type="file" class="hide_this_input" name="videoFile" value="videoFile" id="videoFile" accept="video/mp4">
                    
                    <video id="newVideo" class="video_container centerDiv" controls>
                        
                        Your browser does not support the video tag.
                    </video>
                    <!--
                    Current introduction video<br/>
                    {% if intro_video is none %}
                        No introduction video<br/>
                        Add
                    {% else %}
                        <video id="previousVideo" class="media_container" controls>
                            <source id="previousVideoSource" src="{{intro_video}}" class="media_container" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        <br/><br/>
                        Change
                    {% endif %}
                     video<br/>
                    Upload a file: (max size = 40MB, max duration = 30sec)<br/>
                    <input type="file" name="videoFile" value="videoFile" id="videoFile" accept="video/mp4"><br/>
                    <video id="newVideo" class="media_container" controls>
                        
                        Your browser does not support the video tag.
                    </video>
                    -->
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <ul class=flashes>
                            {% for category, message in messages %}
                                {% if category == 'videoError' %}
                                <span style="color: red;">[{{ message }}]</span>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                    <br/><br/>
                    <div id="vidStuff">
                        Now click the edit video button below to complete the change.
                    </div>
                    <input class="add_something_btn buttonEditProf centerDiv" type="submit" value="Edit video"/>
                </p>
            </form>
            <br/>

            {% if intro_video is not none %}
                <form action="/delete-intro-video" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <p>
                        <input class="add_something_btn buttonEditProf centerDiv" type="submit" value="Delete intro video"/>
                    </p>
                </form>
                <br/><br/>
            {% endif %}
            
            <div class="centerDiv">
            {% if resumeUrl is none %}
                <div class="input_title">
                    Add resume<br/>
                </div>
            {% else %}
                <a class="headerText" target="_blank" href="{{resumeUrl}}">
                    Resume link
                </a>
                <br/>
                <div class="input_title">
                    Change resume<br/>
                </div>
            {% endif %}

            <form action="/edit-profile-resume" method="POST" class="centerDiv" enctype="multipart/form-data">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <label for="inputFileResume" class="choose_file_container add_something_btn centerDiv">
                    Choose file
                </label>
                <div class="regText navy">(Max size = 5MB)</div>
                <input type="file" class="hide_this_input" name="resume" value="resume" id="inputFileResume" accept="application/pdf"/>
                <br/><span id="resumeFilename"></span><br/>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <ul class=flashes>
                        {% for category, message in messages %}
                            {% if category == 'resumeError' %}
                            <span style="color: red;">[{{ message }}]</span>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
                <input class="add_something_btn buttonEditProf centerDiv" type="submit" value="Edit resume"/>
            </form>

            {% if resumeUrl is not none %}
                <form action="/delete-resume" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <p>
                        <input class="add_something_btn buttonEditProf centerDiv" type="submit" value="Delete resume"/>
                    </p>
                </form>
                <br/><br/>
            {% endif %}
            </div>
                
            

            <form action="/edit-profile-first-name" method="POST">
                {{ formFn.csrf_token }}
                <p>
                    <div class="input_title">
                        {{ formFn.first_name.label }}<br>
                    </div>
                    <div class="white_container">
                        {{ formFn.first_name(class_="form_style") }}<br>
                    </div>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <ul class=flashes>
                            {% for category, message in messages %}
                                {% if category == 'firstNameError' %}
                                <span style="color: red;">[{{ message }}]</span>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                </p>
                <input type="submit" id="firstName" class="add_something_btn buttonEditProf" value="Change first name"/>
            </form>
            <br/><br/>


            <form action="/edit-profile-last-name" method="POST">
                {{ formLn.csrf_token }}
                <p>
                    <div class="input_title">
                        {{ formLn.last_name.label }}<br>
                    </div>
                    <div class="white_container">
                        {{ formLn.last_name(class_="form_style") }}<br>
                    </div>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <ul class=flashes>
                            {% for category, message in messages %}
                                {% if category == 'lastNameError' %}
                                    <span style="color: red;">[{{ message }}]</span>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                </p>
                <input type="submit" id="lastName" class="add_something_btn buttonEditProf" value="Change last name"/>
            </form>

            <br/><br/>
            <div class="input_title">Change password</div>

            <form action="/edit-profile-password" method="POST">
                {{ formPwd.csrf_token }}
                <p>
                    <div class="input_title">
                        {{ formPwd.password.label }}<br>
                    </div>
                    <div class="white_container">
                        {{ formPwd.password(class_="form_style") }}<br>
                    </div>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <ul class=flashes>
                            {% for category, message in messages %}
                                {% if category == 'requestError' %}
                                    <span style="color: red;">[{{ message }}]</span>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                </p>
                <p>
                    <div class="input_title">
                        {{ formPwd.password2.label }}<br>
                    </div>
                    <div class="white_container">
                        {{ formPwd.password2(class_="form_style") }}<br>
                    </div>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <ul class=flashes>
                            {% for category, message in messages %}
                                {% if category == 'password2Error' %}
                                    <span style="color: red;">[{{ message }}]</span>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                </p>
                <input type="submit" id="passwordBtn" class="add_something_btn buttonEditProf" value="Change password"/>
            </form>
        
            <br/><br/>
        
            <form action="/edit-profile-city" method="POST">
                {{ formCity.csrf_token }}
                <p>
                    <div class="input_title">
                        {{ formCity.city_name.label }}<br>
                    </div>
                    <div class="white_container">
                        {{ formCity.city_name(class_="form_style") }}<br>
                    </div>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <ul class=flashes>
                            {% for category, message in messages %}
                                {% if category == 'cityNameError' %}
                                    <span style="color: red;">[{{ message }}]</span>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                </p>
                <input type="submit" id="cityBtn" class="add_something_btn buttonEditProf" value="Change city"/>
            </form>
            <br/><br/>
        
            
            <form action="/edit-profile-current-occupation" method="POST">
                {{ formCurrentOccupation.csrf_token }}
                <p>
                    <div class="input_title">
                        {{ formCurrentOccupation.current_occupation.label }}<br>
                    </div>
                    <div class="white_container">
                        {{ formCurrentOccupation.current_occupation(class_="form_style") }}<br>
                    </div>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <ul class=flashes>
                            {% for category, message in messages %}
                                {% if category == 'currentOccupationError' %}
                                    <span style="color: red;">[{{ message }}]</span>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                </p>
                <input type="submit" id="occupationBtn" class="add_something_btn buttonEditProf" value="Change current occupation"/>
            </form>
            
            <br/><br/>

            <form action="/edit-profile-personality" method="POST">

                <div class="input_title">Edit personality traits (describe your personality in 3 words or phrases)</div>
                <br/>

                {{ formPersonality.csrf_token }}
                <p>
                    <div class="input_title">
                        {{ formPersonality.personality_1.label }}<br>
                    </div>
                    <div id="personality1" name="personality1" class="phrase_entry" maxlength="50" class="white_container phrase_entry">
                        {{ formPersonality.personality_1(class_="form_style", value=personality_1) }}<br>
                    </div>
                    <div class="input_title">
                        {{ formPersonality.personality_2.label }}<br>
                    </div>
                    <div id="personality2" name="personality2" class="phrase_entry" maxlength="50" class="white_container phrase_entry">
                        {{ formPersonality.personality_2(class_="form_style", value=personality_2) }}<br>
                    </div>
                    <div class="input_title">
                        {{ formPersonality.personality_3.label }}<br>
                    </div>
                    <div id="personality3" name="personality3" class="phrase_entry" maxlength="50" class="white_container phrase_entry">
                        {{ formPersonality.personality_3(class_="form_style", value=personality_3) }}<br>
                    </div>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <ul class=flashes>
                            {% for category, message in messages %}
                                {% if category == 'personalityError' %}
                                    <span style="color: red;">[{{ message }}]</span>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                </p>
                <input type="submit" id="personalityBtn" class="add_something_btn buttonEditProf" value="Update personality traits"/>
            </form>

            <br/><br/>

            <form action="/edit-profile-division" method="POST">
                {{ formDivision.csrf_token }}
                <p>
                    <div class="input_title">
                        {{ formDivision.division.label }}<br>
                    </div>
                    <div class="white_container">
                        {{ formDivision.division(class_="form_style", value=division) }}<br>
                    </div>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <ul class=flashes>
                            {% for category, message in messages %}
                                {% if category == 'divisionError' %}
                                    <span style="color: red;">[{{ message }}]</span>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                </p>
                <input type="submit" id="divisionBtn" class="add_something_btn buttonEditProf" value="Change division"/>
            </form>

            <br/><br/>


            <form action="/edit-profile-division-preference" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="input_title">
                    {% if user.is_student %}
                        <div id="mentorDivisionPreference">
                            Change division preference (do you prefer your mentor be in your division or in a different division at the company?)<br/>
                        </div>
                    {% else %}
                        <div id="menteeDivisionPreference">
                            Change division preference (do you prefer your mentee be in your division or in a different division at the company?)<br/>
                        </div>
                    {% endif %}
                </div>
    
                {% if divisionPreference == none or divisionPreference == "same" %}
                    <input type="radio" id="yourDivisionChoice" name="divisionPreference" value="same" checked>
                {% else %}
                    <input type="radio" id="yourDivisionChoice" name="divisionPreference" value="same">
                {% endif %}
                <label for="yourDivisionChoice">Your division</label><br>
    
                {% if divisionPreference == "different" %}
                    <input type="radio" id="differentDivisionChoice" name="divisionPreference" value="different" checked>
                {% else %}
                    <input type="radio" id="differentDivisionChoice" name="divisionPreference" value="different">
                {% endif %}
                <label for="differentDivisionChoice">Different division</label><br>
    
                {% if divisionPreference == "noPreference" %}
                    <input type="radio" id="noPrefDivisionChoice" name="divisionPreference" value="noPreference" checked>
                {% else %}
                    <input type="radio" id="noPrefDivisionChoice" name="divisionPreference" value="noPreference">
                {% endif %}
                <label for="noPrefDivisionChoice">No preference</label><br>
    
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <ul class=flashes>
                        {% for category, message in messages %}
                            {% if category == 'divisionPreferenceError' %}
                                <span style="color: red;">[{{ message }}]</span>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
                <input type="submit" id="divisionPreferenceBtn" class="add_something_btn buttonEditProf" value="Change division preference"/>
            </form>

            <br/><br/>

            {% if not user.is_student %} <!-- if user is mentor -->
            <form action="/edit-profile-gender-identity" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div id="genderMentor">
                <div class="input_title">
                    What is your gender identity?<br>
                </div>
                {% if mentorGenderIdentity == none or mentorGenderIdentity == "male" %}
                    <input type="radio" id="choiceMale" name="radio_gender_identity" value="male" checked>
                {% else %}
                    <input type="radio" id="choiceMale" name="radio_gender_identity" value="male">
                {% endif %}
                <label for="choiceMale">Male</label><br>
    
                {% if mentorGenderIdentity == "female" %}
                    <input type="radio" id="choiceFemale" name="radio_gender_identity" value="female" checked>
                {% else %}
                    <input type="radio" id="choiceFemale" name="radio_gender_identity" value="female">
                {% endif %}
                <label for="choiceFemale">Female</label><br>
    
                {% if mentorGenderIdentity == "nonbinaryNonconforming" %}
                    <input type="radio" id="choiceOther" name="radio_gender_identity" value="nonbinaryNonconforming" checked>
                {% else %}
                    <input type="radio" id="choiceOther" name="radio_gender_identity" value="nonbinaryNonconforming">
                {% endif %}
                <label for="choiceOther">Non-binary/non-conforming</label><br>
    
                {% if mentorGenderIdentity == "noResponse" %}
                    <input type="radio" id="choiceNoResponse" name="radio_gender_identity" value="noResponse" checked>
                {% else %}
                    <input type="radio" id="choiceNoResponse" name="radio_gender_identity" value="noResponse">
                {% endif %}
                <label for="choiceNoResponse">Prefer not to respond</label><br><br>
    
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <ul class=flashes>
                        {% for category, message in messages %}
                            {% if category == 'gender_identity_error' %}
                            <span style="color: red;">[{{ message }}]</span>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}

                <input type="submit" id="genderIdentityBtn" class="add_something_btn buttonEditProf" value="Change gender identity"/>

                </div>
            </form>
            
            {% else %}

            <form action="/edit-profile-mentor-gender-preference" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                <div id="mentorPreference">
                <div class="input_title">
                    Do you prefer a male or a female mentor?<br>
                </div>
    
                {% if menteeGenderPreference == none or menteeGenderPreference == "male" %}
                    <input type="radio" id="choiceMale" name="radio_gender_preference" value="male" checked>
                {% else %}
                    <input type="radio" id="choiceMale" name="radio_gender_preference" value="male">
                {% endif %}
                <label for="choiceMale">Male</label><br>
                
                {% if menteeGenderPreference == "female" %}
                    <input type="radio" id="choiceFemale" name="radio_gender_preference" value="female" checked>
                {% else %}
                    <input type="radio" id="choiceFemale" name="radio_gender_preference" value="female">
                {% endif %}
                <label for="choiceFemale">Female</label><br>
    
                {% if menteeGenderPreference == "noPreference" %}
                    <input type="radio" id="choiceNoPref" name="radio_gender_preference" value="noPreference" checked>
                {% else %}
                    <input type="radio" id="choiceNoPref" name="radio_gender_preference" value="noPreference">
                {% endif %}
                <label for="choiceNoPref">No preference</label><br><br>
    
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <ul class=flashes>
                        {% for category, message in messages %}
                            {% if category == 'mentor_preference_error' %}
                            <span style="color: red;">[{{ message }}]</span>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}

                <input type="submit" id="genderPreferenceBtn" class="add_something_btn buttonEditProf" value="Change mentor gender preference"/>

                </div>
            </form>
            {% endif %}
        
            <!--
                No longer able to do this
                <form action="/edit-profile-position" method="POST">
                <div class="input_title">
                    Change position
                </div>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <p>
                    {% if user.is_student == true %}
                        <input type="radio" id="studentBtn" name="radio_isStudent" value="student" checked>
                        <label for="studentBtn">Student</label><br/>
                        <input type="radio" id="mentorBtn" name="radio_isStudent" value="mentor">
                        <label for="mentorBtn">Mentor</label>
                    {% else %}
                        <input type="radio" id="studentBtn" name="radio_isStudent" value="student">
                        <label for="studentBtn">Student</label><br/>
                        <input type="radio" id="mentorBtn" name="radio_isStudent" value="mentor" checked>
                        <label for="mentorBtn">Mentor</label>
                    {% endif %}
                    <br/>
                </p>
                <input type="submit" id="positionBtn" class="add_something_btn buttonEditProf" value="Save position"/>
            </form>
            <br/><br/>-->
        
            <form action="/edit-profile-contact" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <p>
                    <br/>
                    <div class="input_title">
                        Change contact method<br/>
                    </div>
                    {% if contact_method == true %}
                        <input type="radio" id="emailBtn" name="radio_contact" value="Email" onclick="radio_email()" checked>
                        <label for="emailBtn">Email</label><br/>
                        <input type="radio" id="phonenumBtn" name="radio_contact" value="Phone number" onclick="radio_phone()">
                        <label for="phonenumBtn">Phone number</label>
                        <div id="phoneNum">
                            Change phone number:<br/>
                            <input type="tel" id="phoneNumber" name="phoneNumber" placeholder="123-456-7890">
                        </div>
                    {% else %}
                        <br/>
                        Current phone number: {{phone_num}}<br/><br/>
                        <input type="radio" id="emailBtn" name="radio_contact" value="Email" onclick="radio_email()">
                        <label for="emailBtn">Email</label><br/>
                        <input type="radio" id="phonenumBtn" name="radio_contact" value="Phone number" onclick="radio_phone()" checked>
                        <label for="phonenumBtn">Phone number</label>
                        <div id="phoneNum">
                            Change phone number:<br/>
                            <input type="tel" id="phoneNumber" name="phoneNumber" placeholder="123-456-7890">
                        </div>
                    {% endif %}
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <ul class=flashes>
                            {% for category, message in messages %}
                                {% if category == 'phoneError' %}
                                <span style="color: red;">[{{ message }}]</span>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                </p>
                <input class="add_something_btn buttonEditProf" type="submit" value="Save contact information"/>
            </form>
            <br/><br/>

            <form action="/edit-profile-bio" method="POST">
                <div class="input_title">
                    Change bio<br/>
                </div>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <p>
                    <textarea id="bio" name="bio" maxlength="500">{{bio}}</textarea>
                    {% if bio == none %}
                        <div id="char_count" value="">Characters left: 500</div>
                    {% else %}
                        <div id="char_count" value="">Characters left: {{500 - bio|length}}</div>
                    {% endif %}
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <ul class=flashes>
                            {% for category, message in messages %}
                                {% if category == 'bioError' %}
                                    <span style="color: red;">[{{ message }}]</span>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                </p>
                <input class="add_something_btn buttonEditProf" type="submit" value="Save bio"/>
            </form>
            <br/><br/>
            
            <div class="centerDiv">
            <form action="/edit-profile-attributes" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <br/>
                <p>
                    <br/>
                    <div class="input_title">Education<br/></div>
                    <input list="schools" name="educationField" id="educationField">
                    <datalist id="schools" style="overflow-y: auto">
                        {% for school in schools %}
                            <option value="{{school.title}}">
                        {% endfor %}
                    </datalist>
                     <input type="button" class="btn" name="addEducation" id="addEducation" value="Add school" onclick="add_education()">
                    <input type="hidden" id="num_education_listings" name="num_education_listings" value="{{educationList|length}}">
                    
                    <div class="smallText">
                    <table class="center" id="educationTable">
                    </table>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <ul class=flashes>
                            {% for category, message in messages %}
                                {% if category == 'educationError' %}
                                    <span style="color: red;">[{{ message }}]</span>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                    </div>
                </p>
                
                <p>
                    <br/>
                    {%- if register_type == "student" -%}
                        <div class="input_title">Career Interests<br/></div>
                    {%- else -%}
                        <div class="input_title">Career Experience<br/></div>
                    {%- endif -%}
                    <input list="careerInterests" name="careerInterestField" id="careerInterestField">
                    <datalist id="careerInterests" style="overflow-y: auto">
                        {% for cInt in careerInterests %}
                            <option value="{{cInt.title}}">
                        {% endfor %}
                    </datalist>
                     <input type="button" class="btn" name="addCareerInterest" id="addCareerInterest" value="Add interest" onclick="add_career_interest()">
                    <input type="hidden" id="num_career_interests" name="num_career_interests" value="{{careerInterestList|length}}">
                    
                    <div class="smallText">
                    <table class="center" id="careerInterestTable">
                    </table>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <ul class=flashes>
                            {% for category, message in messages %}
                                {% if category == 'careerInterestError' %}
                                    <span style="color: red;">[{{ message }}]</span>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                    </div>
                </p>
        
                <p>
                    <br/>
                    <div class="input_title">Interests<br/></div>
                    <input list="interestTags" name="tagField" id="tagField">
                    <datalist id="interestTags" style="overflow-y: auto">
                        {% for tag in interestTags %}
                            <option value="{{tag.title}}">
                        {% endfor %}
                    </datalist>
                     <input type="button" class="btn" name="addTag" id="addTag" value="Add interest" onclick="add_tag()">
                    <input type="hidden" id="num_tags" name="num_tags" value="{{interestList|length}}">
                    
                    <div class="smallText">
                    <table class="center" id="tagTable">
                    </table>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <ul class=flashes>
                            {% for category, message in messages %}
                                {% if category == 'interestError' %}
                                    <span style="color: red;">[{{ message }}]</span>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                    </div>
                </p>
                <br/>
        
                <button class="add_something_btn buttonEditProf centerDiv" name="save_attributes_btn" value="save_attributes_btn">Save attributes</button>
            </form>
            </div>
            <br/><br/>
            
            <div class="centerDiv">
            <button name="delete-profile" value="delete_profile_btn" class="add_something_btn buttonEditProf centerDiv" id=deleteProfileBtn>Delete Account</button>
            <form id="deletionForm" action="{{ url_for('deleteProfile', id=userID) }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div id="inDeleteForm" class="centerDiv regText"></div>
            </form>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class=flashes>
                    {% for category, message in messages %}
                        {% if category == 'deletionError' %}
                            <span style="color: red;">[{{ message }}]</span>
                        {% endif %}
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            </div>

            <br/>


        </div>
    </div>
    </div>

    <div class="bottom_bar_spacing">
    <div class="bottom_bar"></div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js_files/edit_profile.js')}}"></script>
    <script type="text/javascript">
        init("{{contact_method}}");
        setPreexistingAttributes({{interestList|tojson}}, {{careerInterestList|tojson}}, {{educationList|tojson}});
    </script>

</body>
</html>