<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css_files/main.css')}}">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
        <link href='https://fonts.googleapis.com/css?family=Work Sans' rel='stylesheet'>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="{{ url_for('static', filename='leva_favicon.ico')}}">
        <title>Leva</title>
        <style>
            body{
                font-family: 'Work Sans';
            }

            button{
                font-family: 'Work Sans';
            }
        </style>
    </head>

    <body>

        <div class="header">
            <div class="logo-box">
                <img src="https://static.wixstatic.com/media/12ecaa_e292ca41155b4bee9ea276dc89fef0f3~mv2.png/v1/fill/w_165,h_87,al_c,q_85,usm_0.66_1.00_0.01/IMG_0256_PNG.webp" 
                alt="IMG_0256.PNG" style="width:165px;height:87px;object-fit:cover;object-position:50% 50%">
            </div>

            <div class="nav-box">
                <a href="#home">
                    <button class="nav-button" onclick="scroll(100)">
                        Home
                    </button>
                </a>

                <a href="#product">
                    <button class="nav-button">
                        Product
                    </button>
                </a>

                <a href="#about">
                    <button class="nav-button">
                        About Us
                    </button>
                </a>

                <a href="#testimonials">
                    <button class="nav-button">
                        Testimonials
                    </button>
                </a>

                <a href="#contact">
                    <button class="nav-button">
                        Contact
                    </button>
                </a>

            </div>

            <div class="register-box">
                <a href="{{ url_for('sign_in') }}">
                    <button class="register">
                        Log In
                    </button>
                </a>
            </div>
        </div>

        <div class="background">

            <section class="home">

                <a class="anchor" id="home"></a>

                <div class="header-text">
                    
                        <strong>Strong retention.</strong>
                        <div></div>
                        <strong>Rapid growth.</strong>
                    
                </div>

                <div class="description-text">
                    <h3>
                        Let Leva's Customizable mentorship software enable strong retention and employee engagement at your company.
                    </h3>
                </div>

                <div class="launch-box">
                    <button class="launch">
                        Launch Your Program
                    </button>
                </div>

                
                
            </section>

            <section class="product" >

                <a class="anchor" id="product"></a>

                <div class="title">
                    Create impactful mentorship.
                </div>

                <div class="split">
                    <div class="card">
                        <div class="icon icon1">
                        </div>

                        <div class="label1">
                            Customizable, automated mentorship matching.
                        </div>

                        <div class="label2">
                            Leva's personalized algorithm creates organic pairings based on shared interests, passions, and goals.
                        </div>
                    </div>

                    <div class="card">
                        <div class="icon icon2">
                        </div>

                        <div class="label1">
                            Mentorship programs with optionality and guidance.
                        </div>

                        <div class="label2">
                            Leva's guided content and various mentorship structures are tailored to personal goals and comapny objectives.
                        </div>
                    </div>

                    <div class="card">
                        <div class="icon icon3">
                        </div>

                        <div class="label1">
                            Focus on female retention and work life balance.
                        </div>

                        <div class="label2">
                            Leva is dedicated to increasing female retention, empowering women in the workplace, and providing women with access to senior leadership.
                        </div>
                    </div>
                </div>
            </section>

            <section class="steps" >
                <a class="anchor" id="steps"></a>

                <img src="{{ url_for('static', filename='steps.webp')}}" class="step-image">
            </section>

            <section class="about" id="about">
                <a class="anchor" id="home"></a>

                <div class="half">
                    <div class="something">
                        <div class="head1">
                            ABOUT US
                        </div>
    
                        <div class="head2">
                            Entreprenuers Driving Change.
                        </div>
    
                        <div class="text1">
                            Our team is built of Northwestern University students working to change the way mentorship works. 
                            Leva is one of 24 resident startup teams at Northwestern's startup accelerator, The Garage. 
                            We started Leva with working women in mind and our mission has remained constant.
                            Leva means "lift" in Latin and our goal is to lift the current state of corporate mentorship.
                            Let us build a meaningful, impactful mentorship program for men and women in your organization. 

                            <div><strong>Are you ready to Leva your workplace?</strong></div>
                        </div>
                    </div>
                </div>

                <div class="half">
                    
                </div>
            </section>

            <section class="testimonials" >
                <a class="anchor" id="testimonials"></a>

                <div class="head1">
                    TESTIMONIALS
                </div>

                <div class="slide move-transition">
                    <div class="head2">
                        "Quote"
                    </div>

                    <div class="sub1">
                        Jen Eric
                    </div>

                    <div class="sub2">
                        Company name
                    </div>
                </div>

                <div class="slide move-transition">
                    <div class="head2">
                        "Quoter"
                    </div>

                    <div class="sub1">
                        John Doe
                    </div>

                    <div class="sub2">
                        Company name
                    </div>
                </div>

                <div class="slide move-transition">
                    <div class="head2">
                        "Quoterest"
                    </div>

                    <div class="sub1">
                        Gadget Joe
                    </div>

                    <div class="sub2">
                        Company name
                    </div>
                </div>

                <!-- Below is from W3Schools -->

                <div style="text-align:center; margin-top: 3%;">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                  </div>
            </section>

            <section class="contact" >
                <a class="anchor" id="contact"></a>

                <div class="half">
                    <div class="something">
                        <div class="head1">
                            CONTACT
                        </div>
    
                        <div class="head2">
                            Let's Work Together
                        </div>
    
                        <div class="text1">
                            <div>Address</div>
                            <div>E-mail</div>
                            <div>Tel: 000-000-0000</div>
                        </div>

                        <div class="icon-media">
                            
                        </div>
                    </div>
                </div>

                <div class="half">
                    <div class="something">
                        <div class="firstlast">
                            <div class="input-container">
                                <label for="first">First Name</label>
                                <input type="text" id="first">
                            </div>

                            <div class="input-container">
                                <label for="last">Last Name</label>
                                <input type="text" id="last">
                            </div>
                        </div>

                        <div class="email">
                            <div class="input-container">
                                <label for="e-mail">E-mail</label>
                                <input type="text" id="e-mail">
                            </div>
                        </div>

                        <div class="message">
                            <div class="input-container">
                                <label for="leave">Leave us a message...</label>
                                <textarea type="text" id="leave"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </div>

        <!-- Below is from W3Schools -->

        <script>
            var slideIndex = 1;
            showSlides(slideIndex);

            // Next/previous controls
            function plusSlides(n) {
            showSlides(slideIndex += n);
            }

            // Thumbnail image controls
            function currentSlide(n) {
            showSlides(slideIndex = n);
            }

            function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("slide");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) {slideIndex = 1}
            if (n < 1) {slideIndex = slides.length}
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "flex";
            dots[slideIndex-1].className += " active";
            }

            carousel();

            // TODO: Find way to reset timer when user clicks on specific slide

            function carousel() {
            var i;
            var x = document.getElementsByClassName("slide");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > x.length) {slideIndex = 1}
            showSlides(slideIndex)
            setTimeout(carousel, 20000); // Change image every 2 seconds
            }

            function scroll(n){
                window.scroll(0, 100)
            }

        </script>

    </body>
</html>