<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css_files/main.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css_files/portal.css')}}">
        <!-- added -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css_files/feed.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css_files/media_gallery.css')}}">
        <!-- added -->
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
        <link href='https://fonts.googleapis.com/css?family=Work Sans' rel='stylesheet'>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        {{ JSGlue.include() }}
        <link rel="shortcut icon" href="{{ url_for('static', filename='leva_favicon.ico')}}">
        <title>Mentorship Matches | Leva</title>
        <style>
            body{
                font-family: 'Work Sans';
            }

            button{
                font-family: 'Work Sans';
            }
        </style>
    </head>

    <body>
        <meta name="csrf-token" content="{{ csrf_token() }}">

        <div class="header">
            <div class="logo-box">
                <img src="https://static.wixstatic.com/media/12ecaa_e292ca41155b4bee9ea276dc89fef0f3~mv2.png/v1/fill/w_165,h_87,al_c,q_85,usm_0.66_1.00_0.01/IMG_0256_PNG.webp" 
                alt="IMG_0256.PNG" style="width:165px;height:87px;object-fit:cover;object-position:50% 50%">
            </div>

            <div class="nav-box">
                <a href="{{ url_for('portal') }}">
                    <button class="nav-button">
                        Enrollment
                    </button>
                </a>

                <a href="{{ url_for('view', id=userID) }}">
                    <button class="nav-button">
                        Profile
                    </button>
                </a>

                <a href="{{ url_for('mentor') }}">
                    <button class="nav-button">
                        Mentor Matches
                    </button>
                </a>

                <a href="{{ url_for('progress') }}">
                    <button class="nav-button">
                        Progress
                    </button>
                </a>
            </div>

            <div class="register-box">
                <button class="register">
                    <a href="{{ url_for('register') }}">
                        Log Out
                    </a>
                </button>
            </div>
        </div>

        <div class="background">

            <section class="mentor" id="matchTable">
                <div class="head">
                    My Mentorship Matches<br/>
                </div>

                <!-- here's the actual mentor list. -->
                <div id="loadingText" class="head">
                    <br/><br/><br/><br/>
                    Loading...
                </div>

                <div class="centerDiv">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <ul class=flashes>
                        {% for category, message in messages %}
                            {% if category == 'feedError' %}
                            <span style="color: red;">[{{ message }}]</span>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
                </div>

                <div id="noMatchDiv" class="pageTitle centerDiv"></div>
                <br/>

            </section>
        </div>


        

        <script type="text/javascript" src="{{ url_for('static', filename='js_files/feed.js')}}"></script>
        <script type="text/javascript">
            $(document).ready(function(){

                if("{{find_match}}" == "True") {
                    init("{{isStudent}}");
                    get_new_users(function() { //callback: pass this function as an argument to the get_new_users function.

                        ready_document();
                        remove_loading();

                    });
                } else { //don't find a match
                    noFound = document.createElement("p");
                    noFound.setAttribute("id", "noFound");
                    if("{{isStudent}}" == "True") {
                        noFound.appendChild(document.createTextNode("You have already selected a mentor!"));
                    } else {
                        noFound.appendChild(document.createTextNode("You have been selected by a mentee! Check the progress tab."));
                    }
                    document.getElementById("noMatchDiv").appendChild(noFound);
                    remove_loading();
                }

            });

        </script>
    </body>
</html>