<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css_files/navigation_bar.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css_files/general_page.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css_files/my_network.css')}}">

    <link rel="shortcut icon" href="{{ url_for('static', filename='leva_favicon.ico')}}">
    <title>My Connections | Leva</title>
</head>

<body>
    <!-- navbar -->
    <div class="navbar">
        <table class="span_width">
            <tr>
                <td>
                    <img class="navbar_image" src="{{ url_for('static', filename='Leva_icon.webp')}}">
                </td>
                <td>
                    {% if userID != None %}
                        <a class="bar_a navbar_log_in_out" href="{{ url_for('logout') }}">Log Out</a><br/>
                    {% else %}
                        <a class="bar_a navbar_log_in_out" href="{{ url_for('sign_in') }}">Log In</a><br/>
                    {% endif %}
                    
                </td>
            </tr>
        </table>

        <table class="a_bar_table">
            <tr>
                <td class="a_bar_td"><a class="bar_a" href="/">Home</a></td>
                <td class="a_bar_td"><a class="bar_a left_border" href="{{ url_for('feed') }}">My Feed</a></td>
                <td class="a_bar_td"><a class="bar_a left_border" href="{{ url_for('view', id=userID) }}">My Profile</a></td>
                <td class="a_bar_td"><a class="bar_a left_border background_purple" href="{{ url_for('my_connections') }}">My Connections</a></td>
            </tr>
        </table>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

    <div class="purple_container_my_network">
    <br/>
    <div class="leftAlign">
    <div class="titleText">
        {% if isMentee %}
            My Mentor
        {% else %}
            My Mentee
        {% endif %}
    </div>

    {% if selectUser is none %} 
        <div class="chtext">
            <br/>
            {% if isMentee %}
                You haven't selected a mentor yet.
            {% else %}
                You haven't been paired with a mentee yet.
            {% endif %}
        </div>
    {% else %}
        <table class="userTableSurround">
            <tr>
                <td class="userTable">
                <div class="chtext">
                <table>
                    <tr>
                    <td>
                        <a href="{{ url_for('view', id=selectUser.id) }}">
                        {% if selectUser.profile_picture is none %}
                            <img class="profile_picture_small" src="{{url_for('static', filename='blank-profile-picture.png')}}" alt="profile_picture">
                        {% else %}
                            <img class="profile_picture_small" src="{{selectUser.profile_picture}}" alt="profile_picture">
                        {% endif %}
                        </a>
                    </td>

                    <td class="space_left">
                        <a href="{{ url_for('view', id=selectUser.id) }}" class="userTitle">{{ selectUser.first_name }} {{ selectUser.last_name }}</a><br/>
                        <div class="space_up">
                        <div class="white_container">
                            {% if selectUser.email_contact %}
                                Contact: {{ selectUser.email }}
                            {% else %}
                                Contact: {{ selectUser.phone_number }}
                            {% endif %}
                            <br/>
                        </div>
                        </div>
                    </td>
                    </tr>
                </table>
                </div>
                </td>
            </tr>
        </table>
    {% endif %}

    </div>
    </div>

    <div class="bottom_bar_spacing">
    <div class="bottom_bar"></div>
    </div>
    
</body>
</html>