<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css_files/main.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css_files/portal.css')}}">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
        <link href='https://fonts.googleapis.com/css?family=Work Sans' rel='stylesheet'>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="{{ url_for('static', filename='leva_favicon.ico')}}">
        <title>Portal | Leva</title>
        <style>
            body{
                font-family: 'Work Sans';
            }

            button{
                font-family: 'Work Sans';
            }
        </style>
    </head>

    <body>

        <div class="header">
            <div class="logo-box">
                <img src="https://static.wixstatic.com/media/12ecaa_e292ca41155b4bee9ea276dc89fef0f3~mv2.png/v1/fill/w_165,h_87,al_c,q_85,usm_0.66_1.00_0.01/IMG_0256_PNG.webp" 
                alt="IMG_0256.PNG" style="width:165px;height:87px;object-fit:cover;object-position:50% 50%">
            </div>

            <div class="nav-box">
                <a href="{{ url_for('portal') }}">
                    <button class="nav-button">
                        Enrollment
                    </button>
                </a>

                <a href="{{ url_for('view', id=userID) }}">
                    <button class="nav-button">
                        Profile
                    </button>
                </a>

                <a href="{{ url_for('mentor') }}">
                    <button class="nav-button">
                        Mentor Matches
                    </button>
                </a>

                <a href="{{ url_for('progress') }}">
                    <button class="nav-button">
                        Progress
                    </button>
                </a>
            </div>

            <div class="register-box">
                <a class="register" href="{{ url_for('register') }}">
                    Enroll In Program
                </a>
            </div>
        </div>

        <div class="background">

            <section class="home">

                <div class="header-text">
                    
                        <strong>Mentorship Made</strong>
                        <div></div>
                        <strong>For You.</strong>
                    
                </div>

                <div class="description-text">
                    <h3>
                        Complete the enrollment form below to enter your corporate mentorship program. Let Leva take care of the rest.
                    </h3>
                </div>

                <div class="launch-box">
                    <a class="launch register" href="{{ url_for('register') }}">
                        Enroll In Program
                    </a>
                </div>

            </section>

            
        </div>
    </body>
</html>