<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css_files/main.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css_files/portal.css')}}">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
        <link href='https://fonts.googleapis.com/css?family=Work Sans' rel='stylesheet'>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="{{ url_for('static', filename='leva_favicon.ico')}}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <title>Profile: {{ user.first_name }} {{ user.last_name }} | Leva</title>
        <style>
            body{
                font-family: 'Work Sans';
            }

            button{
                font-family: 'Work Sans';
            }
        </style>
    </head>

    <body>

        <div class="header navbar navbar-expand-lg navbar-light bg-white justify-content-between p-3 sticky-top">
            <div class="navbar-brand">
                <img src="https://static.wixstatic.com/media/12ecaa_e292ca41155b4bee9ea276dc89fef0f3~mv2.png/v1/fill/w_165,h_87,al_c,q_85,usm_0.66_1.00_0.01/IMG_0256_PNG.webp" 
                alt="IMG_0256.PNG" style="width:10vw;height:5vw;object-fit:contain;object-position:50% 50%">
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="nav-box navbar-collapse collapse" id="navbarToggler">
                <ul class="navbar-nav">
    
                    <li class="nav-item">
                        <a href="{{ url_for('view', id=userID) }}">
                            <button class="nav-button">
                                Profile
                            </button>
                        </a>
                    </li>
    
                    <li class="nav-item">
                        <a href="{{ url_for('mentor') }}">
                            <button class="nav-button">
                                Mentor Matches
                            </button>
                        </a>
                    </li>
    
                    <li class="nav-item">
                        <a href="{{ url_for('progress') }}">
                            <button class="nav-button">
                                Progress
                            </button>
                        </a>
                    </li>
    
                </ul>
            </div>

            <div class="register-box">
                <button class="register">
                    <a href="{{ url_for('logout') }}">
                        Log Out
                    </a>
                </button>
            </div>

        </div>


        <!--Profile of the user-->
        <div class="background">
            <section class="display profile">

                <div class="head">
                    {% if logged_in is defined and logged_in %}
                        My Leva Profile
                    {% else %}
                        Leva Profile: {{ user.first_name }} {{ user.last_name }}
                    {% endif %}
                </div>

                <!--How to edit the profile of the user-->
                {% if logged_in is defined and logged_in %}
                    <a href="{{ url_for('editProfile') }}">
                        <button class="register">
                            Edit Profile
                        </button>
                    </a>
                {% endif %}

                <div class="info">
                    <div class="list">
                        <!--Each entry of information is divided into singles, which is itself divided into
                            a label and the actual information (answer)-->

                            <!--Name-->
                        <div class="single">
                            <div class="label">
                                Name:
                            </div>
    
                            <div class="answer">
                                {{ user.first_name }} {{ user.last_name }}
                            </div>
                        </div>

                        <!--Job title (commented out for beta test)-->
                        <!-- <div class="single">
                            <div class="label">
                                Job Title:
                            </div>
    
                            <div class="answer">
                                {{ user.current_occupation }}
                            </div>
                        </div> -->

                        <!--Division-->
                        <div class="single">
                            <div class="label">
                                Year:
                            </div>
    
                            <div class="answer">
                                {{ user.division }}
                            </div>
                        </div>

                        <!--Bio-->
                        <div class="single">
                            <div class="label">
                                Bio:
                            </div>
    
                            <div class="answer">
                                {{ user.bio }}
                            </div>
                        </div>

                        <!--Resume-->
                        <div class="single">
                            {% if resumeUrl is none %}
                                <div class="label">
                                    No resume entered
                                </div>
                            {% else %}
                                <a class="label" target="_blank" href="{{resumeUrl}}">
                                    Resume link
                                </a>
                            {% endif %}
                        </div>

                        <!--Location-->
                        <div class="single">
                            <div class="label">
                                Hometown:
                            </div>
    
                            <div class="answer">
                                {{ user.city_name }}
                            </div>
                        </div>

                        <!--Goals/Expertise-->
                        <div class="single">
                            <div class="label">
                                Professional Goals/Areas of Expertise:
                            </div>
    
                            <div class="answer">
                                {% if careerInterestList|length == 0 %}
                                    None
                                {% else %}
                                    {% for carInt in careerInterestList %}
                                        {{ carInt }}<br/>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <!--Interests-->
                        <div class="single">
                            <div class="label">
                                Interests:
                            </div>
    
                            <div class="answer">
                                {% if interestList|length == 0 %}
                                    None
                                {% else %}
                                    {% for interest in interestList %}
                                        {{ interest }} <br/>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <!--Education-->
                        <div class="single">
                            <div class="label">
                                Major/Minor/Certificate:
                            </div>
    
                            <div class="answer">
                                {% if educationList|length == 0 %}
                                    None
                                {% else %}
                                    {% for e in educationList %}
                                        {{ e }} <br/>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <!--Personality (commented out for beta test)-->
                        <!-- <div class="single">
                            <div class="label">
                                Personality:
                            </div>
    
                            <div class="answer">
                                {{ user.personality_1 }}<br/><br/>
                                {{ user.personality_2 }}<br/><br/>
                                {{ user.personality_3 }}<br/>
                            </div>
                        </div> -->

                        <!--hide all this if the current user is viewing another user's profile-->
                        {% if logged_in is defined and logged_in %}

                            <!--Division preference (commented out for beta test)-->
                            {% if divisionPreference is not none %}
                            <!-- <div class="single">
                                <div class="label">
                                    Division Preference:
                                </div>
        
                                <div class="answer">
                                    {{ divisionPreference }}
                                </div>
                            </div> -->
                            {% endif %}

                            <!--
                            <div class="single">
                                <div class="label">
                                    Structure Preference:
                                </div>
        
                                <div class="answer">
                                    Lorem
                                </div>
                            </div> 
                            -->

                            <!--Gender preference of student (commented out for beta test)-->
                            {% if mentorGenderPreference is not none and user.is_student  %}
                            <!-- <div class="single">
                                <div class="label">
                                    Gender Preference:
                                </div>
        
                                <div class="answer">
                                    {{ mentorGenderPreference }}
                                </div>
                            </div> -->
                            {% endif %}

                            <!--Gender identity-->
                            {% if genderIdentity is not none and not user.is_student  %}
                            <div class="single">
                                <div class="label">
                                    Gender Identity:
                                </div>
        
                                <div class="answer">
                                    {{ genderIdentity }}
                                </div>
                            </div>
                            {% endif %}

                        {% endif %}
                        
                    </div>

                    <!--Profile picture-->
                    <div class="picture">
                        <div class="circle-border">
                            {% if profile_picture is none %}
                                <img class="profile_picture" src="{{url_for('static', filename='blank-profile-picture.png')}}" alt="profile_picture"><br/>
                            {% else %}
                                <img class="profile_picture" src="{{profile_picture}}" alt="profile_picture"><br/>
                            {% endif %}
                        </div>

                        {% if logged_in is defined and logged_in %}
                            <a href="{{ url_for('editProfile') }}">
                                <button class="register">
                                    Edit Picture
                                </button>
                            </a>
                        {% endif %}
                    </div>

                </div>
            </section>
        </div>

        <!--<script type="text/javascript" src="{{ url_for('static', filename='js_files/view.js')}}"></script>-->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    </body>
</html>