<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css_files/main.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css_files/portal.css')}}">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
        <link href='https://fonts.googleapis.com/css?family=Work Sans' rel='stylesheet'>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="{{ url_for('static', filename='leva_favicon.ico')}}">
        <title>My profile | Leva</title>
        <style>
            body{
                font-family: 'Work Sans';
            }

            button{
                font-family: 'Work Sans';
            }
        </style>
    </head>

    <body>

        <div class="header">
            <div class="logo-box">
                <img src="https://static.wixstatic.com/media/12ecaa_e292ca41155b4bee9ea276dc89fef0f3~mv2.png/v1/fill/w_165,h_87,al_c,q_85,usm_0.66_1.00_0.01/IMG_0256_PNG.webp" 
                alt="IMG_0256.PNG" style="width:165px;height:87px;object-fit:cover;object-position:50% 50%">
            </div>

            <div class="nav-box">
                <a href="{{ url_for('portal') }}">
                    <button class="nav-button">
                        Enrollment
                    </button>
                </a>

                <a href="{{ url_for('view', id=userID) }}">
                    <button class="nav-button">
                        Profile
                    </button>
                </a>

                <a href="{{ url_for('mentor') }}">
                    <button class="nav-button">
                        Mentor Matches
                    </button>
                </a>

                <a href="{{ url_for('progress') }}">
                    <button class="nav-button">
                        Progress
                    </button>
                </a>
            </div>

            <div class="register-box">
                <a class="register" href="{{ url_for('register') }}">
                    Enroll In Program
                </a>
            </div>
        </div>

        <div class="background">
            <section class="profile">

                <div class="head">
                    {% if logged_in is defined and logged_in %}
                        My Leva Profile
                    {% else %}
                        Leva Profile
                    {% endif %}
                </div>

                {% if logged_in is defined and logged_in %}
                    <button href="{{ url_for('editProfile') }}">
                        Edit Profile
                    </button>
                {% endif %}

                <div class="info">
                    <div class="list">
                        <div class="single">
                            <div class="label">
                                Name:
                            </div>
    
                            <div class="answer">
                                {{ user.first_name }} {{ user.last_name }}
                            </div>
                        </div>

                        <div class="single">
                            <div class="label">
                                Job Title:
                            </div>
    
                            <div class="answer">
                                {{ user.current_occupation }}
                            </div>
                        </div>

                        <div class="single">
                            <div class="label">
                                Professional Goals/Areas of Expertise:
                            </div>
    
                            <div class="answer">
                                {% if careerInterestList|length == 0 %}
                                    None
                                {% else %}
                                    {% for carInt in careerInterestList %}
                                        {{ carInt }}<br/>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <div class="single">
                            <div class="label">
                                Interests:
                            </div>
    
                            <div class="answer">
                                {% if careerInterestList|length == 0 %}
                                    None
                                {% else %}
                                    {% for interest in interestList %}
                                    {{ interest }} <br/>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <div class="single">
                            <div class="label">
                                Personality:
                            </div>
    
                            <div class="answer">
                                {{ user.personality_1 }}<br/><br/>
                                {{ user.personality_2 }}<br/><br/>
                                {{ user.personality_3 }}<br/>
                            </div>
                        </div>

                        <!--hide all this if the current user is viewing another user's profile-->
                        {% if logged_in is defined and logged_in %}
                        <div class="single">
                            <div class="label">
                                Division Preference:
                            </div>
    
                            <div class="answer">
                                {{ user.division_preference }}
                            </div>
                        </div>

                        <!--
                        <div class="single">
                            <div class="label">
                                Structure Preference:
                            </div>
    
                            <div class="answer">
                                Lorem
                            </div>
                        </div> 
                        -->

                        {% if user.mentor_gender_preference is not none %}
                        <div class="single">
                            <div class="label">
                                Gender Preference:
                            </div>
    
                            <div class="answer">
                                {{ user.mentor_gender_preference }}
                            </div>
                        </div>
                        {% endif %}

                        {% endif %}
                        
                    </div>

                    <div class="picture">
                        <div class="circle-border">
                            {% if profile_picture is none %}
                                <img class="profile_picture" src="{{url_for('static', filename='blank-profile-picture.png')}}" alt="profile_picture"><br/>
                            {% else %}
                                <img class="profile_picture" src="{{profile_picture}}" alt="profile_picture"><br/>
                            {% endif %}
                        </div>

                        <button>
                            Edit Picture
                        </button>
                    </div>

                </div>
            </section>
        </div>

        <script type="text/javascript" src="{{ url_for('static', filename='js_files/view.js')}}"></script>
    </body>
</html>