<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css_files/main.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css_files/portal.css')}}">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
        <link href='https://fonts.googleapis.com/css?family=Work Sans' rel='stylesheet'>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="{{ url_for('static', filename='leva_favicon.ico')}}">
        <title>Progress | Leva</title>
        <style>
            body{
                font-family: 'Work Sans';
            }

            button{
                font-family: 'Work Sans';
            }
        </style>
    </head>

    <body>

        <div class="header">
            <div class="logo-box">
                <img src="https://static.wixstatic.com/media/12ecaa_e292ca41155b4bee9ea276dc89fef0f3~mv2.png/v1/fill/w_165,h_87,al_c,q_85,usm_0.66_1.00_0.01/IMG_0256_PNG.webp" 
                alt="IMG_0256.PNG" style="width:165px;height:87px;object-fit:cover;object-position:50% 50%">
            </div>

            <div class="nav-box">
                <a href="{{ url_for('portal') }}">
                    <button class="nav-button">
                        Enrollment
                    </button>
                </a>

                <a href="{{ url_for('view', id=userID) }}">
                    <button class="nav-button">
                        Profile
                    </button>
                </a>

                <a href="{{ url_for('mentor') }}">
                    <button class="nav-button">
                        Mentor Matches
                    </button>
                </a>

                <a href="{{ url_for('progress') }}">
                    <button class="nav-button">
                        Progress
                    </button>
                </a>
            </div>

            <div class="register-box">
                <a href="{{ url_for('logout') }}">
                    <button class="register">
                        Log Out
                    </button>
                </a>
            </div>
        </div>

        <div class="background">
            <section class="progress">

                <div class="head">
                    My Progress & Guidance
                </div>

                <br/><br/><br/>

                {% if selectEntry != none %}
                    Note: Center this
                    {% if isMentee %}
                        Your mentor:<br/>
                    {% else %}
                        Your mentee:<br/>
                    {% endif %}
                    
                    <!-- show mentor/mentee -->
                    <div class="mentor-card">
                        <div class="picture-card">
                            <div class="circle-border">
                                {% if selectMentorMentee.profile_picture is none %}
                                    <img class="profile_picture_small" src="{{url_for('static', filename='blank-profile-picture.png')}}" alt="profile_picture"><br/>
                                    <br/>
                                {% else %}
                                    <img class="profile_picture_small" src="{{selectMentorMentee.profile_picture}}" alt="profile_picture"><br/><br/>
                                    <br/>
                                {% endif %}
                            </div>
                            <div class="head2">
                                {{ selectMentorMentee.first_name }}
                            </div>
                            <div class="head2">
                                {{ selectMentorMentee.last_name }}
                            </div>
                            <div class="purple-line"></div>
                            <div class="division">
                                {{ selectMentorMentee.division }}
                            </div>
                        </div>
                    </div>

                    <div class="head">
                        <br/><br/>
                        Meeting progress
                    </div>

                    <div class="info">

                        Upcoming meeting: meeting #{{ reminderList[0]["num"] }}   ({{ reminderList[0]["date"] }})<br/>
                        Description: {{ reminderList[0]["desc"] }}<br/><br/>

                        Column 1:
                        Pending meetings:
                        {{reminderList}}<br/><br/>
                        
                        Column 2:
                        Completed meetings: (should be a dropdown list)
                        {{progressCompletedList}}
                    </div>


                {% else %}
                    {% if isMentee %}
                        Select a mentor in the Mentor Matches tab!<br/>
                    {% else %}
                        Please wait until you have been selected by a mentee!<br/>
                    {% endif %}
                {% endif %}





            </section>
        </div>

    </body>
</html>