<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css_files/main.css">
        <link rel="stylesheet" href="../static/css_files/sign_in.css">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
        <link href='https://fonts.googleapis.com/css?family=Work Sans' rel='stylesheet'>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap" rel="stylesheet">
        <style>
            body{
                font-family: 'Work Sans';
            }

            button{
                font-family: 'Work Sans';
            }
        </style>
    </head>

    <body>
        <div class="header">
            <div class="logo-box">
                <img src="https://static.wixstatic.com/media/12ecaa_e292ca41155b4bee9ea276dc89fef0f3~mv2.png/v1/fill/w_165,h_87,al_c,q_85,usm_0.66_1.00_0.01/IMG_0256_PNG.webp" 
                alt="IMG_0256.PNG" style="width:165px;height:87px;object-fit:cover;object-position:50% 50%">
            </div>

            <div class="nav-box">
                <a href="{{ url_for('portal') }}">
                    <button class="nav-button">
                        Enrollment
                    </button>
                </a>

                <a href="{{ url_for('view', id=userID) }}">
                    <button class="nav-button">
                        Profile
                    </button>
                </a>

                <a href="{{ url_for('mentor') }}">
                    <button class="nav-button">
                        Mentor Matches
                    </button>
                </a>

                <a href="{{ url_for('progress') }}">
                    <button class="nav-button">
                        Progress
                    </button>
                </a>
            </div>

            <div class="register-box">
                <a href="{{ url_for('sign_in') }}">
                    <button class="register">
                        Log in
                    </button>
                </a>
            </div>
        </div>

        <div class="login-container">

            <div class="detail-container" id="detail-container">

                <div class="head2">Login</div>

                <form action="/sign-in" method="POST">
                    {{ form.hidden_tag() }}
                    
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <div class="flashesLogin">
                            {% for category, message in messages %}
                                {% if category == 'loginRedirectError' %}
                                    <span style="color: red;">[{{ message }}]</span>
                                {% endif %}
                            {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}

                    <div class="input-container">
                        <label for="email">{{ form.email.label }}</label>
                        {{ form.email }}<br/>
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                <ul class=flashes>
                                {% for category, message in messages %}
                                    {% if category == 'emailError' %}
                                    <span style="color: red;">[{{ message }}]</span>
                                    {% endif %}
                                {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}
                    </div>
            
                    <div class="input-container">
                        <label for="password">{{ form.password.label }}</label>
                        {{ form.password }}<br/>
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                <ul class=flashes>
                                {% for category, message in messages %}
                                    {% if category == 'passwordError' %}
                                    <span style="color: red;">[{{ message }}]</span>
                                    {% endif %}
                                {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}
                    </div>
                    
                    <div class="launch-box">
                        <button class="launch">
                            Log In
                        </button>
                    </div>
                </form>

                </div>

            <div class="register-container">
                Alternatively, <a class="register_link" href="{{ url_for('register') }}">click here to create an account.</a>
            </div>

        </div>
    </body>
</html>